<!doctype html>
<html lang="ja">
  <%- include('partials/header') %>
<body>
  <div class="container">
    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
      <div class="d-grid gap-2">
        <h3>送信テスト</h3>
        <button id="err0-button" class="btn btn-primary" type="button">データ初期化</button>
        <button id="err1-button" class="btn btn-primary" type="button">パターン1</button>
        <button id="err2-button" class="btn btn-primary" type="button">パターン2</button>
        <button id="err3-button" class="btn btn-primary" type="button">パターン3</button>
        <button id="err4-button" class="btn btn-primary" type="button">パターン4</button>
      </div>
    </div>
  </div>
  <script>
    const err0Button = document.querySelector('#err0-button')
    err0Button.addEventListener('click', async()=>{
      const res = await fetch('/api/user/init')
      if (res.status === 200){
        alert('データ初期化しました')
      } else {
        alert('データ初期化に失敗しました')
      }
    })
    const err1Button = document.querySelector('#err1-button')
    err1Button.addEventListener('click', async()=>{
      const res = await fetch('/api/user/error1')
      if (res.status === 400){
        alert('テストを実行しました ⇒ エラー発生')
      } else {
        alert('テストの実行に失敗しました')
      }
    })
    const err2Button = document.querySelector('#err2-button')
    err2Button.addEventListener('click', async()=>{
      const res = await fetch('/api/user/error2')
      if (res.status === 400){
        alert('テストを実行しました ⇒ エラー発生')
      } else {
        alert('テストの実行に失敗しました')
      }
    })
    const err3Button = document.querySelector('#err3-button')
    err3Button.addEventListener('click', async()=>{
      const res = await fetch('/api/user/error3')
      if (res.status === 400){
        alert('テストを実行しました ⇒ エラー発生')
      } else {
        alert('テストの実行に失敗しました')
      }
    })
    const err4Button = document.querySelector('#err4-button')
    err4Button.addEventListener('click', async()=>{
      const res = await fetch('/api/user/error4', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ param1: '日本語データ', param2: '12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890' })
      })
      if (res.status === 400){
        alert('テストを実行しました ⇒ エラー発生')
      } else {
        alert('テストの実行に失敗しました')
      }
    })
  </script>
  <%- include('partials/footer') %>
</body>
</html>